daily view <br>
<%= will_paginate @week_days %><br>
<% @week_days.each do |week_day| %>
  <%= link_to(week_day_path(week_day)) do %>
    <div class="alert alert-success">
      <strong>Date:</strong> <%= week_day.date %><br>
      <strong><u>Meals</u></strong> <br>
      <% week_day.meals.each do |meal| %>
      <%= meal.name %><br>
      <% end %>
    </div>
  <% end %>
<% end %>
