<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="">
    <%= link_to "add meal", new_meal_path %>
    <%= link_to "search meals", meals_path %>
</div>
<%= render 'user_meals/user_meal_list', locals: {meals: @my_meals}%>
