<p id="notice"><%= notice %></p>

<p>
  <strong>Meal plan:</strong>
  <%= @shopping_list.meal_plan %>
</p>

<%= link_to 'Edit', edit_shopping_list_path(@shopping_list) %> |
<%= link_to 'Back', shopping_lists_path %>
